.chatBox {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.chatDisplay {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: none;
}

.chatThread {
  width: 100%;
  height: fit-content;
}

.chatThread p {
  color: white;
}

.userDetail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  width: 69%;
}

.userDetail p {
  margin: 0px 20px 0px 0px;
}

#userName {
  font-size: 0.9em;
  margin: 0px;
  margin-right: 5%;
}

#time {
  color: gray;
  margin: 0%;
  margin-right: 3%;
  font-size: 0.9em;
}

.messages {
  height: fit-content;
  padding: 10px;
  width: 70%;
  word-wrap: break-word;
  background-color: rgb(16, 16, 16);
  letter-spacing: 1.5px;
  line-height: 1.4;
  border-radius: 10px;
  font-size: 0.9em;
}

.sentBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  flex-direction: column;
}

.msgPermision {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 45%;
  position: relative;
}

.msgPermision p {
  font-size: 0.9em;
  color: rgb(241, 241, 241);
  margin: 0px 10px 0px 0px;
}

.sentInputBox {
  height: 45%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sentInputBox input {
  width: 80%;
  height: 50px;
  font-size: 1em;
  padding: 0px 0px 0px 10px;
  border: 1px solid transparent;
  background-color: rgb(16, 16, 16);
  color: white;
  border-radius: 5px 0px 0px 5px;
  outline: none;
}

.sentInputBox button {
  width: 10%;
  height: 50px;
  background-color: rgb(16, 16, 16);
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.invert {
  filter: invert(1);
}

.right {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.saveChat {
  width: 10%;
  height: 55%;
  margin-left: 40%;
  background-color: #117f56;
  border: 1px solid transparent;
  border-radius: 5px;
}

.save{
  width: 20px;
  height: 20px;
  color: white;
}

.pollButton {
  height: 35px;
  width: 70px;
  margin-left: 30px;
  border-radius: 5px;
  border: none;
  background-color: #117f56;
  color: white;
}
