*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container{
    width:430px;
    height:280px;
    box-sizing:border-box;
    padding-left:40px;
    padding-right:40px;
    padding-top:30px;
    text-align:center;
    background-color:#1F2937;
    border-radius:10px;
}


#heading{
    color: white;
    margin-top: 20px;
}

#content{
    font-size: 18px;
    color: white;
    margin-top: 20px;
    line-height: 25px;
}

.image{
    width: 70px;
    height: 70px;
}