.homePageHeader {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1f2937;
  padding-top: 0.3%;
  padding-left: 1%;
  padding-bottom: 0.3%;
}


.navLogin {
  color: rgb(241, 241, 241);
}

.navLogin {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 10%;

  height: 100%;
  font-size: 1.2em;
}

.navLogin p {
  width: 80%;
  cursor: pointer;
  text-align: center;
  position: relative;
}



.iconAndName {
  width: 13%;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.iconAndName img {
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.iconAndName h2{
  color: white;
}