.popupContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101010;
}

.joinMeetingContainer {
  width: 40vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(31, 31, 31);
  border-radius: 10px;
  margin: auto;
}

.joinMeetingBox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.joinMeetingHeader {
  color: rgb(241, 241, 241);
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.joinInfoBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32%;
  justify-content: center;
}

.joinLiveBtn {
  width: 80px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid transparent;
  background-color: rgb(255, 97, 59);
  color: white;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinLiveBtn span {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0px 5px 0px 0px;
}

.participentsBtn {
  width: 200px;
  height: 50px;
  border-radius: 100px;
  font-size: 1em;
  border: 1px solid rgb(129, 128, 131);
  background-color: rgb(31, 31, 31);
  color: rgb(138, 137, 140);
  font-weight: 400;
}

.joinMeetingVideoBox {
  width: 65%;
  /* border: 1px solid white; */
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.joinMeetingVideoBox video {
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}

.joinMeetingControls {
  width: 65%;
  height: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px 20px 0px 20px;
}

.controlBox {
  width: 65px;
  height: 40px;
  border: 1px solid rgb(42, 42, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.joinMeetingUser {
  width: 65%;
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.joinMeetingInputs {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.joinMeetingInputs input {
  width: 100%;
  height: 50px;

  border: 1px solid rgb(129, 128, 131);
  border-radius: 5px;
  font-size: 1.2em;
  padding: 0px 0px 0px 10px;
  background-color: rgb(31, 31, 31);
  color: rgb(241, 241, 241);
}

.joinMeetingBtns {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.joinMeetingUser button {
  width: 18%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid transparent;
  color: rgb(241, 241, 241);
  font-size: 1.1em;
  cursor: pointer;
}

.createMeeting {
  background-color: rgb(59, 130, 240);
}

.cancelMeeting {
  background-color: rgb(255, 97, 59);
}
