.meetingContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgb(16, 16, 16);
}

.meetingHeaderBox {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.meetingHeader {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.meetingContent {
  padding: 0px 10px 0px 10px;
  width: 100%;
  height: 84%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.meetingVideoBox {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(42, 42, 40);
  border-radius: 5px 0px 0px 5px;
}

.meetingVideoBox1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: flex-start;
  flex-wrap: wrap;
  border: 1px solid rgb(42, 42, 40);
  border-radius: 5px 0px 0px 5px;
}

.videoBoxes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid rgb(42, 42, 40);
  width: 100%;
  height: 20%;
  overflow-x: auto;
  gap: 10px;
}

.video-container {
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.video {
  width: 250px;
  height: 100%;
  transform: rotateY(180deg);
}

.video-item {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  transform: rotateY(180deg);
}

.mainVideoBox {
  height: 80%;
  width: 100%;
  padding: 20px;
  position: relative;
}

.meetingFooter {
  width: 100%;
  height: 8%;
}

.meetingChatParticipants {
  width: 25%;
  height: 100%;
}

.meetingDiv {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.meetingVideoParent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.meetingVideoParentInWhite {
  width: 20%;
  height: 100%;
}

.meetingDiv2 {
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.shareScreenElement {
  width: 100%;
  height: 100%;
  /* transform: rotateX(180deg); */
}

.meetingWhiteBoard {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.emoji {
  position: absolute;
  top: 53%;
  right: 45%;
}
.emoji1 {
  position: absolute;
  top: 53%;
  right: 45%;
}

.emoji2 {
  position: absolute;
  top: 42%;
  right: 45%;
}

.EmojiPickerReact .epr-preview {
  display: none;
}

@keyframes floatEmoji {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

.emojiDiv {
  color: white;
  bottom: 2%;
  right: 30%;
  font-size: 2rem;
  position: absolute;
  animation-name: floatEmoji;
  animation-duration: 4.5s;
}

.breakOutRoomPopup {
  width: 400px;
  height: 600px;
  background-color: rgb(42, 42, 40);
}
