
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

label{
    color: white;
}

.inputBox{
    width: 400px;
    height: 60px;
    border-radius: 10px;
    color: black;
    font-size: 17px;
    background-color: #374151;
    border: none;
    color: white;
    padding-left: 10px;
}

h1{
    color: white;
}

#pollContainer{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #1F2937;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

button{
    cursor: pointer;
}

.createPollBtn{
    height: 60px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    background-color: #3B82F6;
    border: none;
    width: 200px;
}

.pollCancelBtn{
    width: 150px;
    height: 60px;
    border: none;
    color: white;
    border-radius: 10px;
    background-color: #EA580C;
    font-size: 17px;
}

.btns{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
