
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#pollWholeContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.rightSide{
    justify-content: center;
    align-items: flex-end;
}

.leftSide{
    justify-content: center;
    align-items: flex-start;
}

#pollDiv{
    width: 70%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 10px;
    background-color: #101010;
}

.pollRadioButton{
    margin-right: 10px;
}

#userDetails{
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
}

#name{
    width: 240px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

#time{
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

label{
    color: white;
}

#pollTitle{
    color: white;
}

.option{
    margin-top: 10px;
}