#signUp {
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  align-items: flex-start;
  justify-content: space-between;
}

.labelTag {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 1.2rem;
  height: 78%;
}

.inputTag {
  width: 90%;
  height: 100%;
  background-color: #374151;
  border: none;
  margin-top: 5px;
  color: white;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-left: 4%;
  border-radius: 8px;
  margin-top: 2%;
  outline: none;
}

.signupButton {
  color: white;
  width: 70%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: #3b82f6;
  cursor: pointer;
}

.signupCancel {
  color: white;
  width: 25%;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  background-color: #ea580c;
  cursor: pointer;
}

#backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  position: fixed;
}

#modal {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 10px;
  z-index: 1;
  margin: auto;
  overflow: hidden;
  margin-top: 150px;
  height: 700px;
  width: 510px;
  background: transparent;
}

#signupPage {
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  margin-top: 3%;
}

.passwordShow {
  width: 90%;
  height: 50px;
  background: #374151;
  border-radius: 10px;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passInput {
  width: 90%;
  height: 41px;
  margin: 0px;
  padding: 2%;
}

.icon {
  margin: 0px;
  font-size: 1.3rem;
}

.messageToShow {
  width: 100%;
  height: 22%;
  padding: 2%;
}

.parent {
  width: 100%;
  height: 17%;
  margin-top: 2%;
}

.parent:last-of-type {
  margin-bottom: 20%;
}

.labelTag:nth-of-type(2) {
  height: 86%;
}
