#signInPage {
  width: 580px;
  height: 550px;
  margin: auto;
  background-color: #111827;
}

#signin {
  width: 490px;
  height: 470px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.input {
  width: 400px;
  font-size: 18px;
  height: 50px;
  background-color: #374151;
  color: white;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  padding-left: 3%;
}

.label {
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}


.signinButtons {
  width: 89%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancelBtn {
  color: white;
  width: 25%;
  height: 50px;
  font-size: 1.3em;
  background-color: #ea580c;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.signinBtn {
  color: white;
  width: 70%;
  height: 50px;
  font-size: 1.3em;
  background-color: #3b82f6;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

.message {
  position: absolute;
  color: #3B82F6;
  top: 3%;
  background: #1F2937;
  text-align: center;
  margin-left: 10%;
}