* {
  padding: 0;
  margin: 0;
}

.videoBox {
  width: 300px;
  height: 250px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(32, 33, 40);}

.disableMic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: rgb(16, 16, 16);
  align-self: flex-end;
  border-radius: 50%;
}

.mic {
  width: 12px;
  filter: invert(1);
  align-items: flex-start;
}



.videoBox p {
  color: rgb(241, 241, 241);
  background-color: rgba(16, 16, 16, 0.9);
  width: fit-content;
  font-size: 0.8em;
  padding: 0px 3px 0px 3px;
  border-radius: 3px;
}

